:root {
    --color-principal: #D6CCA8;
    --fuente-base: sans-serif, Courier
}

body {
    background-color: var(--color-principal);
    font-family: var(--fuente-base);
}

.aprobado {
    color: green;
}

.denegado {
    color: red;
}